#btndelete, #btnplus {
    border: none;
    background-color: transparent;
    font-size: 38px;
}

#lblindextitle {
    font-size: 60px;
    margin: 10px 150px;
}

.Questionnaire-index {
    width:100%;
    margin:auto;
}

.seach {
    border:1px solid #000;
    padding: 20px 50px;
}

    .seach tr {
        font-size: 32px;
        height: 50px;
    }

    .seach td {
        font-size: 32px;
        line-height: 0px;
    }

.TextBox1 {
    width: 85%;
    height:22px
}

.TextBox2, .TextBox3 {
    width: 90%;
    height: 22px;
}

.TextBox3 {
    margin-left: 10px;
}


/*    .Button1 {
        height: 28px;
        width: 70px;
        margin-left: 20px;
        border-radius: 8px;
        background-color: skyblue;
        color: blue;
        font-size:18px
    }*/


/*------------------------------------*/

.Questionnairelist {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top:30px;
}

    .Questionnairelist td, .Questionnairelist th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .Questionnairelist tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .Questionnairelist tr:hover {
        background-color: #ddd;
    }

    .Questionnairelist th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }

.pagination {
    margin: auto;
    text-align: center;
}

    .pagination a {
        font-size: 18px;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }



    /*=================================*/


.indexmain {
    display: grid;
    height: 500px;
    grid-template-columns: 250px 1fr;
}

    .indexmain .left {
        background: #aaa;
        padding: 60px 0px 0px 10px;
        font-size: 22px;
    }


    .indexmain .right {
        background: #ccc;
        padding: 20px;
    }

    .indexmain .left .indexlink li {
        margin-bottom: 30px;
    }


/*    =======================================*/

.asked #tab {
    width: 700px;
    background-color: dodgerblue;
    border: solid 3px dodgerblue;
    border-radius: 8px;
    margin: auto;
    margin-top: 25px;
}

    /* 頁籤ul */
.asked #tab > ul {
    /* overflow: hidden; */
    margin: 0;
    padding: 10px 20px 0 20px;
}

.asked #tab > ul > li {
    list-style-type: none;
    font-size: 25px;
}

            /* 頁籤上的文字 */
.asked #tab > ul > li > a {
    text-decoration: none;
    font-size: 15px;
    color: #333;
    float: left;
    padding: 10px;
    margin-left: 5px;
}

    /*頁籤div內容*/
.asked #tab > div {
    clear: both;
    padding: 0 15px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

/*第一筆的底色*/
.asked span:target ~ #tab > ul li:first-child a {
    background: #1caa5d;
}

.asked span:target ~ #tab > div:first-of-type {
    visibility: hidden;
    height: 0;
    padding: 0 15px;
}

.asked span:target ~ #tab > div {
    border-radius: 8px;
}


/*頁籤變換&第一筆*/
.asked span ~ #tab > ul li:first-child a,
.asked #tab-1:target ~ #tab > ul li a[href$="#tab-1"] {
    background: #fff;
    border-radius: 5px 5px 0 0;
}

.asked span ~ #tab > ul li:first-child a::before,
.asked #tab-1:target ~ #tab > ul li a[href$="#tab-1"]::before {
    background-color: white;
    height: 100%;
}

/*頁籤內容顯示&第一筆*/
.asked span ~ #tab > div:first-of-type,
.asked #tab-1:target ~ #tab > div.tab-content-1 {
    visibility: visible;
    height: auto;
    background: #fff;
    padding: 20px
}

.asked span {
    display: none;
}


/*-------------------------------------*/

.tab-content-1 .questioninput table tr th {
    font-size: 20px;
    width: 80px;
}

.tab-content-1 .questioninput table tr td #btnjoin {
    margin-left: 50px;
}



#btndelete {
    border: none;
    background-color: transparent;
    font-size: 38px;
}


.questionshow {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

    .questionshow td, .questionshow th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .questionshow tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    .questionshow tr:hover {
        background-color: #ddd;
    }

    .questionshow th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #ccc;
        color: white;
    }


#btndelete1 {
    border: none;
    background-color: transparent;
    font-size: 38px;
}